{% extends 'common.html' %}
{% load i18n %}

{% block title %} Paasword Reset {% endblock %}


{% block content %}
    <section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Password Reset</h2>
                            <p><a href="#">account</a> | Password Reset</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <p style="margin-top: 100px;"><center><h4 style="margin-bottom: 100px;">Your password is now changed.</h4> </center></p>
{% endblock %}