{% extends 'common.html' %}
{% load i18n %}
{% load account %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Email sent for Passwor Reset</h2>
                            <p><a href="#">account</a> | Password Reset</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <center style="margin-top: 100px">
    {% if user.is_authenticated %}
        {% include "account/already_logged_in.html" %}
    {% endif %}
    </center>
    <p><center style="margin-bottom: 100px;margin-top: 10px"><h4>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</h4></center></p>

{% endblock %}