{% extends 'common.html' %}
{% load static %}
{% block title %} Password Reset {% endblock %}

{% block content %}
<!-- pages-title-start -->
		<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">password Reset</h2>
                            <p><a href="#">account</a> | Password Reset</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- pages-title-end -->
		<!-- login content section start -->
		<div class="login-area" style="margin-bottom: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-push-3 col-xs-6">
                        <div class="tb-login-form ">
                            {% if user.is_authenticated %}
                               {% include "account/already_logged_in.html" %}
                            {% endif %}
                                <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

                            <form id="password_reset" method="POST" action="{% url 'account_reset_password' %}" class="password_reset" > {% csrf_token %}
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact">
                                        Email
                                        <em>*</em>
                                    </label>
                                    <input type="email" name="email" placeholder="Email">
                                </p>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <p class="login-submit5">
                                    <input class="button-primary" type="submit" value="Submit">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}