{% extends 'common.html' %}
{% load static %}
{% load i18n %}
{% block title %} apparel || Password change {% endblock %}

{% block content %}
<!-- pages-title-start -->
		<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Password change</h2>
                            <p><a href="#">account</a> | Password change</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- pages-title-end -->
		<!-- login content section start -->
		<div class="login-area" style="margin-bottom: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-push-3 col-xs-6">
                        <div class="tb-login-form ">
                            <form id="password_change" method="POST" action="{% url 'account_change_password' %}" class="password_change" > {% csrf_token %}
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact">
                                        Current Password
                                        <em>*</em>
                                    </label>
                                    <input type="password" name="oldpassword" placeholder="Current Password">
                                </p>
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact">
                                        New Password
                                        <em>*</em>
                                    </label>
                                    <input id="password1" type="password" name="password1" placeholder="New Password">
                                </p>
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact">
                                        Confirm New Password
                                        <em>*</em>
                                    </label>
                                    <input id="password2" type="password" name="password2" placeholder="Confirm Password">
                                </p>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <p class="login-submit5">
                                    <input class="button-primary" type="submit" name="action" value="Change Password">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}